name: Remote Test Trigger

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  trigger-remote-test:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Remote Test Workflow
        env:
          GH_TOKEN: ${{ secrets.PASEO_RUNTIME_CI_PAT }}
        run: |
          response=$(curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer $GH_TOKEN" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/Zondax/paseo-runtime-test/actions/workflows/webhook-pr-trigger.yml/dispatches \
            -d '{
              "ref": "main",
              "inputs": {
                "target_repo": "https://github.com/${{ github.repository }}",
                "target_branch": "${{ github.head_ref }}",
                "pr_number": "${{ github.event.pull_request.number }}"
              }
            }' -w "%{http_code}" -o /dev/null)
          if [ "$response" != "204" ]; then
            echo "Failed to trigger remote test. HTTP status code: $response"
            exit 1
          fi